@grid-outer-border: #AAAAAA;
@grid-cell-border: #CCCCCC;
@grid-cell-bg: #FFFFFF;
@grid-row-header-bg: #F3F3F3;
@grid-column-header-bg: #F3F3F3;
@grid-cell-selection-bg: fade(orange, 20%);
@grid-cell-selection-border: 1px solid orange;
@grid-group-row-bg: #EDF1F6;
@grid-group-row-color: #24303F;
@grid-group-chevron-color: #5A6B80;
@grid-group-chevron-hover-color: #1B2733;
