.cell() {
	
	.cell {

		position: absolute;
		border-bottom: 1px solid pink;
		border-right: 1px solid pink;
		box-sizing: border-box;

		.cell-content {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding-left: 5px;
		}
	
	}
}