@import "theme.less";
@import "utils.less";

.cell() {

	.pgrid-cell {

		position: absolute;
		border-bottom: 1px solid @grid-cell-border;
		border-right: 1px solid @grid-cell-border;
		box-sizing: border-box;
		cursor: default;

		.pgrid-cell-content {
			pointer-events: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding-left: 5px;
			width: calc(100% - 10px);

			.noselect();
		}

		&.pgrid-cell-selection {
			background-color: @grid-cell-selection-bg;
		}

		.selectable();
	}
}